<h1>Register Page</h1>

<form action="/auth/register" method="post">
<labe>Username:  <input type="text" name="username" value="{{body.username}}"></labe>
<labe>Password:  <input type="password" name="password"></labe>
<labe>Repeat Password:  <input type="password" name="repass"></labe>
<button>Register</button>

</form>